.about-us__page {
    padding-top: 90px;

    @mixin atSmall { 
     padding-top: 100px;
    }

    &--description {
        font-family: 'Open-sans', sans-serif;
        line-height: 30px;
        font-weight: 500;
        font-size: 14px;
        @mixin atSmall { 
            font-size: 16px;
        }
    }
}