.btn {
    font-family: 'Lato', sans-serif;
    display: inline-block;
    cursor: pointer;
    border-radius: 0px;
    overflow: hidden;
    text-decoration: none;
    color: #FFF;
    font-size: 12px;
    padding: 12px 18px;
    border: none;
    outline: none;
    @mixin atSmall {
      font-size: 1.19rem;  
      padding: 12px 24px;
    }
  
    &--white {
     background-color: transparent;
     color: $white;
     border: 1px solid $white;
     transition: 1s;
    }
    
    &--white:hover {
    background-color: $white;
    color: $black;
    }
    &--white-all {
      background-color: white;
      color: $black;
      border: 1px solid $white;
      transition: 1s;
     }
     
     &--white-all:hover {
     background-color: transparent;
     color: $white;
     }

    &--black {
        background-color: transparent;
        color: $black;
        border: 1px solid $black;
        transition: 1s;
    }
       
    &--black:hover {
    background-color: $black;
    color: $white;
    }
   

  
  
    &--large {
      font-size: 1.3rem;
      padding: 16px 34px;
      border-radius: 7px;
      @mixin atSmall {
        font-size: 1.9rem;
      }
    }
  
    &--inactive {
      background-color: transparent;
      cursor: default;
      color: #333;
    }
  }