.contact-section {
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $grey;

    .contact__content--title {
        color: #000;
        opacity: 0.7;
        padding-bottom: 15px;
    }
    .contact__content--description {
        color: #000;
        opacity: 0.7;
        font-family: 'Open-sans', sans-serif;
        line-height: 30px;
        font-weight: 500;
    }
}