.heading {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    @mixin atSmall { 
        font-size: 36px; 
    }
}
.heading--medium {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
    @mixin atSmall { 
        font-size: 24px; 
    }
}