 .hero-slider {
    position: relative;
    margin-top: 50px;
    padding-bottom: 10px;
    @mixin atSmall {
        padding-bottom: 0px;
    }
  
    @mixin atXSmall {
      margin-top: 20px;
    }
  
    div {
      outline: none;
    }
  
  
    &__slide {
      background-size: cover;
      background-repeat: no-repeat;
    }  

    &__button {
      margin-top: 10px;
      @mixin atSmall {
        margin-top: 50px;
      }
    }
  }
  
  .glide__slides {
    height: 200px;
    @mixin atMedium {
      height: 300px;
    }
  }

  .glide__arrows {
    -webkit-touch-callout: none;
    user-select: none; }

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: black;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1; 
  @mixin atSmall{
    top: 50%;
  }

}
  .glide__arrow:focus {
    outline: none; }
  .glide__arrow:hover {
    border-color: white; }
  .glide__arrow--left {
    left: 0px; 
    @mixin atSmall {
      left: -60px; 
    }
}
  .glide__arrow--right {
    right: 0px;
    @mixin atSmall{
      right: -60px;
    }
   }
  .glide__arrow--disabled {
    opacity: 0.33; }

  

  
  
  
  