.offer {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: $grey;

    &__content {
        padding-top: 30px;
        padding-bottom: 40px;
        text-align: center;
        @mixin atSmall {
            text-align: left;  
        }
    }

    &__description {
        font-family: 'Open-sans', sans-serif;
        line-height: 30px;
        font-weight: 500;
        @mixin atSmall {
            padding-right: 30px;
        }

    }

    &__col-one {
        text-align: center;
        width: 100%;
        @mixin atSmall {
          text-align: left;
          width: 50%;
          float: left;
        }
    }
    &__col-two { 
        margin-top: 50px;
        @mixin atSmall {
            margin-top: 0px;
        }
    }

    &__image {
        width: 250px;
        height: auto;
        margin-bottom: 30px;
        @mixin atSmall {
            margin-bottom: 0px;
            margin-right: 20px;
            float: left;
        }
    }
}

.offer-page {
    padding-top: 90px;
    @mixin atSmall { 
     padding-top: 100px;
    }
    &--description {
        font-family: 'Open-sans', sans-serif;
        line-height: 30px;
        font-weight: 500;
        font-size: 14px;
        @mixin atSmall { 
            font-size: 16px;
        }
    }
    &--heading {
        padding-top: 40px;

        &--description {
            padding-top: 20px;
        }
    }
    ul {
        list-style: none;
        padding: 0;
        margin:0;
    }
    li {
      font-family: 'Open-sans', sans-serif;
      font-size: 14px;
      line-height: 30px;
      font-weight: 400;
      @mixin atSmall {
        font-size: 18px;  
        line-height: 40px;
      }
    }
    li:before {
        content: "."; 
        padding-right: 8px;
        color: red; 
      }
}