.page-banner {
    height: 100vh;
    background-color: #fff;
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 40px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @mixin atSmall {
      padding: 100px 0 60px 0;
    }
    @mixin atSmall {
      padding: 100px 0 60px 0;
    }

    &__overlay {
      position: absolute;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
      top:0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @mixin atSmall {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
      }
    }

    &--content {
      text-align: center;
      @mixin atXSmall {
        text-align: center;
      }
    }

    &__title {
      font-weight: 800;
      font-size: 2.2rem;
      color: $white;
      text-transform: uppercase;
      margin:0;
      @mixin atSmall {
        padding-bottom: 15px;
        font-size: 6rem;
      }
    }

    &__subtitle { 
      padding-top: 5px;
      padding-bottom: 20px;
      color: $white;
      @mixin atSmall {
        padding-bottom: 20px;
        padding-right: 20px;
        padding-top: 0px;
        /* float:left; */
       }
      
    }

    .btn-first {
      margin-right: 10px; 
      @mixin atSmall {
        margin-right: 20px; 
      }
    }

  }

   .button--place {
    float: left;
  } 
  .page-banner--buttons {
    display: flex;
    justify-content: center;
  }

  .main-btn {
    margin: 5px;
    @mixin atSmall {
      margin: 10px; 
    }
  }

  
  