.partners {
    text-align: center;
    margin: 50px;

    &__logos {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .logo {
        width: 100%;
        height: auto;
        padding:10px;
        @mixin atSmall {
            width: 190px;
            padding:20px;
        }
    }
}