.price-list__page {
    padding-top: 90px;
    padding-bottom: 40px;
    @mixin atSmall {
        padding-top: 100px;
        padding-bottom: 60px;
    }

    &--pricing {
        background-color: $grey;
        padding-top: 20px;
        padding-bottom: 40px;
        text-align: center;
        @mixin atSmall {
            padding-top: 80px;
            padding-bottom: 80px;  
            text-align: left;
        }
        &__text {
            float: left;
            @mixin atSmall {
                padding-right: 100px;
            }

            &--description{
                font-family: 'Open-sans', sans-serif;
                line-height: 30px;
                letter-spacing: 0px;
                font-weight: 400;
                margin-bottom: 20px;
                margin-top: 20px;
                @mixin atSmall {
                 margin: 0; 
                }
            }
        }
        &--content {
            @mixin atSmall {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin:0;
    }
    li {
      font-family: 'Open-sans', sans-serif;
      font-size: 14px;
      line-height: 30px;
      font-weight: 400;
      @mixin atSmall {
        font-size: 18px;  
        line-height: 40px;
      }
    }
    
    
}