.realizations {  
    padding-top: 50px;
    &__description {
        font-family: 'Lato', sans-serif;
        line-height: 30px;
        letter-spacing: 0px;
        font-weight: 500;
    }
}
.realizations-page {
    padding-top: 90px;
    @mixin atSmall {
        padding-top: 100px;
    }
}