.site-header {
    background-color: #fff;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    position: absolute;
    border-bottom: 1px solid #f0f0f0;
    @mixin atMedium { 
      position: fixed;
      padding: 20px 100px;
    }
  
    &__menu {
      visibility: hidden;
      position: absolute;
      background-color: $white;
      left: 0;
      right: 0;
      top: -20px;
      padding-top: 58px;
      opacity: 0;
      transform: translateY(-20%);
      transition: opacity .3s ease-out, visibility .3s ease-out, transform .3s ease-out;
      padding-bottom: 20px;
      z-index: 0;
  
      &--active {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        padding-top: 80px;
      }
  
      @mixin atMedium {
        visibility: visible;
        opacity: 1;
        transform: translateY(0) scale(1);
        position: static;
        background-color: transparent;
        float: right;
        padding-top: 0;
        padding-bottom: 0;
        top: 0;
      }
  
    }
  
    &__menu-trigger {
      color: $black;
      cursor: pointer;
      font-size: 1.2rem;
      position: absolute;
      z-index: 10;
      top: 4px;
      right: 46px;
  
      @mixin atSmall {
        top: 5px;
        font-size: 1.4rem;
      }
  
      @mixin atMedium {
        display: none;
      }
    }
  }
  
    header .logo {
      position: relative;
      font-weight: 900;
      text-decoration: none;
      font-size: 16px;
      letter-spacing: 1px;
      transition: .6s;
      z-index: 1;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color : #000;
      color: #000;

    }

    header ul li a {
      padding: 0 15px;
      font-size: 13px;
      letter-spacing: 0px;
      transition: 0.5s;
    } 
  @mixin atMedium {
  
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    header {
      position: fixed;
      width: 100%;
      left: 0;
      top: 0;
      transition: 0.6s;
      padding: 40px 100px; 
    }
    header .logo {
      position: relative;
      font-weight: 900;
      text-decoration: none;
      font-size: 28px;
      letter-spacing: 1px;
      transition: .6s;
      -webkit-text-stroke-width: 1px;
    }
    header ul {
      display: flex;
      postion: relative;
      justify-content: center;
      align-items: center;
      list-style: none;
    }
    header ul li a {
      padding: 0 15px;
      color: #000;
      text-decoration: none;
      position: relative;
      letter-spacing: 0px;
      transition: 0.5s;
    }
    header.sticky {
      background: $white;
      padding: 20px 100px 20px 100px;
    }
    header.sticky ul li a {
      color: $black;     
    }

    section p {
      color: $white;
    }
  
  }
