.why-us {
  &__title {
    text-align: center;
    padding-bottom: 20px;
    @mixin atSmall { 
      text-align: left;
      padding-bottom: 0px;
    }
  }

    &__col-one {
        width: 100%;

        @mixin atSmall {
          width: 50%;
          float: left;
        }
    }
    &__col-two {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        @mixin atSmall {
         padding-top: 50px;
         padding-bottom: 0px;
        }
    }
    &__image {
        width: 200px;
        height: auto;
        object-fit: contain;
        @mixin atSmall {
          width: 300px;
          height: auto;
        }
    }
    ul {
      padding-bottom: 24px;
      list-style: none;
      margin-left: 0px;
      padding-inline-start: 30px !important;
    }
    
    li {
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      letter-spacing: 1%;
      color: #8c8fa1;
      margin-left: 0px;
      position: relative;
      @mixin atSmall { 
        font-size: 18px; 
      }
      &:after {
        content: "\2022";
        position: absolute;
        display: block;
        left: -25px;
        font-size: 2rem;
        top: 0%;
        color: #e96b39;
      }
    }
    
}
